@model FlySwatter.Models.IndexViewModel
@{
    ViewBag.Title = "Your Account";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row text-center">
    <div class="col-sm-12">
        <h2>Account Settings</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-12">
        <hr />
        <div class="btn-group">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-sm btn-success" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-danger btn-sm" })
            }
            @Html.ActionLink(Model.Email, "SendEmail", new { email = Model.Email }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Edit Profile", "ProfileEdit", new { email = Model.Email }, new { @class = "btn btn-warning btn-sm" })
        </div>
    </div>
</div>
