@model FlySwatter.Models.IndexViewModel 
@{
    ViewBag.Title = "Your Account";
}

<div class="row">
    <div class="col-md-12">
        <h1> Profile </h1>
    </div>
</div>

<!-- Prebuild Stuff -->
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        <dt>Confirm Email:</dt>
        <dd>
            @Html.ActionLink(Model.Email, "SendEmail", new { email = Model.Email})
        </dd>
    </dl>
</div>
