@model FlySwatter.Models.HomeView
@using FlySwatter.Models;
@{
    ViewBag.Title = "Home";
}

<!-- This page should not even be shown unless the user is authenticated. -->
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="row submitter">
        <div class="col-sm-12">
            <a href="/Users" class="btn btn-warning">List of Users</a>
            <a href="/" class="btn btn-default">Reset</a>
            <a href="/Tickets/Create" class="btn btn-indigo">New Ticket</a>
        </div>
    </div>
    <div class="row submitter">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.ActionLink("Priority", "Index", new { sortOrder = "priority" })
                        </th>
                        <th>
                            @Html.ActionLink("Name", "Index", new { sortOrder = "title" })
                        </th>
                        <th>
                            @Html.ActionLink("Project", "Index", new { sortOrder = "project" })
                        </th>
                        <th>
                            @Html.ActionLink("Created", "Index", new { sortOrder = "created" })
                        </th>
                        <th> Description </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td> @ticket.TicketPriority.Name </td>
                            <td> <a href="/Tickets/Details/@ticket.Id">@ticket.Title</a></td>
                            <td> <a href="/Projects/Details/@ticket.Project.Id">@ticket.Project.Name</a> </td>
                            <td> @ticket.Created.Date.ToString().Split(' ')[0]</td>
                            <td> @ticket.Description </td>
                        </tr>
                    }
                </tbody>
            </table>
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="sesrchString" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">Search!</button>
                    </span>
                </div>
            }
        </div>
    </div>
    <div class="row" style="height: 10em"></div>
}