@model FlySwatter.Models.HomeView
@using FlySwatter.Models;
@{
    ViewBag.Title = "Home";
    var color = new string[] { "", "cool", "lukewarm", "warmwarm", "hot" };
    var currentPage = Model.Tickets.PageNumber;
    var pages = Model.Tickets.PageCount;
}

<!-- This page should not even be shown unless the user is authenticated. -->
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="row submitter">
        <div class="col-sm-12" style="padding-bottom: 5px; ">
            <div class="btn-group" role="group" >
                <a class="btn btn-default" href="/">Reset Filters</a>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning dropdown-toggle" 
                            data-toggle="dropdown" aria-expanded="false">
                        Users
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Users">List</a></li>
                        <li><a href="/Users/Roles">Edit Roles <i style="color:#999">Admin Only</i></a></li>
                    </ul>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" 
                            data-toggle="dropdown" aria-expanded="false">
                        Projects
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Projects">List</a></li>
                        <li><a href="/Projects/Create">New</a></li>
                    </ul>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger dropdown-toggle" 
                            data-toggle="dropdown" aria-expanded="false">
                        Users
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Users">List</a></li>
                        <li><a href="/Users/Create">New</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row submitter">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="searchString" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit">Search!</button>
                    </span>
                </div>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        @foreach (var heading in new string[] { "Priority", "Title", "Project", "Owner", "Assigned", "Created" })
                        {
                            var sortName = Model.SortOrder == null ? 
                                heading.ToLower() : 
                                Model.SortOrder ; 
                            sortName = sortName.Any(c => c == '_') ? 
                                heading.ToLower() :
                                heading.ToLower() + "_desc" ;
                            <th>
                                @Html.ActionLink(heading, "Index", new { sortOrder = sortName })
                            </th>
                        }
                        <th> Description </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td class="@color[ticket.TicketPriorityId]"> @ticket.TicketPriority.Name </td>
                            <td> <a href="/Tickets/Details/@ticket.Id">@ticket.Title</a></td>
                            <td> <a href="/Projects/Details/@ticket.Project.Id">@ticket.Project.Name</a> </td>
                            <td> <a href="/Users/Details/?email=@ticket.OwnerUser.Email">@ticket.OwnerUser.Email</a></td>
                            <td> <a href="/Users/Details/?email=@ticket.AssignedUser.Email">@ticket.AssignedUser.Email</a></td>
                            <td> @ticket.Created.Date.ToString().Split(' ')[0]</td>
                            <td> @ticket.Description </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= pages; i++)
            {
                <li>@Html.ActionLink(i.ToString(), "Index", new { page = i }) </li>
            }
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}